*{
    padding: 0;
    margin: 0;
}

.wen{
   height: 100vh;
   display: flex;
}
.her{
    height: 300px;
    width: 70%;
    background-color: teal; 
    align-items: center;
    justify-items: center;
    display: grid;
    transition: .5s;
}
.f{
    height: 30px;
    width: 50px;
    background-color: #fa8072;
    border: none;
    align-items: center;
    justify-items: center;
    display: grid;
}
.ff{
    height: 30px;
    width: 50px;
    background-color: salmon;
    border: none;
    align-items: center;
    justify-items: center;
    display: grid;
    margin-left: 200px;
}